CLAUDE.md
sorts.txt
armes_melee_ante-paladin.txt
armes_melee_mage_pretre_mixte.txt
capes.txt
competences.txt
armures.txt
bijoux_et_orbes.txt
melee_guerrier.txt
melee_paladin.txt
robes.txt
armes_melee_ante-palatin.txt
